input {
    border: none;
    outline:none;
}

.custom-input {
    display: flex;
    align-items: center;
    width: 251px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 0px 10px 0px 15px;
    border: 1px solid #D7DFF2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #0F1B33;
}

.custom-input + label {
    display: none;
}

.custom-input:invalid + label {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    font-family: Roboto;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #ED6262;;
}

.custom-input::placeholder {
    color: #939AAB;
}

.custom-input:hover {
    border: 1px solid #ABB4CB;
}

.custom-input:not(:placeholder-shown) {
    border: 1px solid #ABB4CB;
}

.custom-input:focus {
    background: #F7F8FA;
}

.custom-input:invalid {
    border: 1px solid #ED6262;
}

.custom-input:disabled {
    border: 1px solid #EBEEF5;
}

.custom-input:disabled::placeholder {
    color: #C2CDE5;
}


.custom-input__container {
    position: relative;
    width: 251px;
    height: 40px;
    margin-bottom: 40px;
}


/* Custom password input */

.password-input__eye {
    position: absolute;
    top: calc(50% - 12px);
    right: 8px;
    z-index: -1;
    width: 24px;
    height: 24px;
    margin: 0;
    opacity: 0;
}

.password-input__eye + label {
    position: absolute;
    top: calc(50% - 12px);
    right: 8px;
    display: inline-flex;
	align-items: center;
	user-select: none;
}   

.password-input__eye + label::before {
	content: '';
    position: absolute;
    top: 50%;
    right: 100%;
	display: inline-block;
    width: 24px;
    height: 24px;
	background-repeat: no-repeat;
	background-position: center center;
    background-image: url(./images/eye.svg);
    cursor: pointer;
}

.password-input:not(:disabled) ~ .password-input__eye:not(:checked) + label:hover::before {
    background-image: url(./images/eye-hovered.svg);
}

.password-input__eye:checked + label::before {
    background-image: url(./images/eye-invisible.svg);
}

.password-input:disabled ~ label::before {
    background-image: url(./images/eye-disabled.svg);
    cursor: default;
}



/* Custom select input */

.select__wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.select {
    display: flex;
    align-items: center;
    width: 251px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 0px 10px 0px 15px;
    border: 1px solid #D7DFF2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #0F1B33;
}

.select:hover {
    border: 1px solid #ABB4CB;
}



.select__placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #939AAB;
}

.select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;;
}

.select__options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    margin-top: 4px;
    box-sizing: border-box;
    border: 1px solid #ABB4CB;
    border-radius: 7px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.select.select--open .select__options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.select__option {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 10px 0px 15px;
    position: static;
    width: 249px;
    height: 40px;
    left: 1px;
    top: 1px;
    color: #939AAB;
    cursor: pointer;
}


.select__option.select__option--selected {
    color: #0F1B33;
}

.select__arrow {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(./images/arrow.svg);
    user-select: none;
    cursor: pointer;
}

.select__arrow:hover {
    background-image: url(./images/arrow-hovered.svg);
}


.select--open {
    border: 1px solid #ABB4CB;
}

.select--open .select__arrow {
    transform: rotate(180deg);
}


.select--changed {
    color: #0F1B33;
    border-color: #ABB4CB;;
}

/* добавление класса 'select--disabled' корневому элементу с классом 'select__wrapper' делает весь input Selector неактивным */
.select--disabled .select {
    border: 1px solid #EBEEF5;
}

.select--disabled .select__placeholder {
    color: #C2CDE6;
}

.select--disabled .select__arrow {
    background-image: url(./images/arrow-disabled.svg);
    cursor: default;
}

.select--disabled .select__arrow:hover {
    background-image: url(./images/arrow-disabled.svg);
}